<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feedURL</key>
		<string>http://www.ifanr.com/feed</string>
		<key>feedType</key>
		<string>ITNews</string>
		<key>isSub</key>
		<false/>
		<key>owner</key>
		<string>god</string>
	</dict>
	<dict>
		<key>feedURL</key>
		<string>http://www.geekpark.net/rss</string>
		<key>feedType</key>
		<string>ITNews</string>
		<key>owner</key>
		<string>god</string>
		<key>isSub</key>
		<false/>
	</dict>
	<dict>
		<key>feedURL</key>
		<string>http://www.36kr.com/feed</string>
		<key>feedType</key>
		<string>ITNews</string>
		<key>isSub</key>
		<false/>
		<key>owner</key>
		<string>god</string>
	</dict>
	<dict>
		<key>feedURL</key>
		<string>http://rss.cnbeta.com/rss</string>
		<key>feedType</key>
		<string>ITNews</string>
		<key>isSub</key>
		<false/>
		<key>owner</key>
		<string>god</string>
	</dict>
	<dict>
		<key>feedURL</key>
		<string>http://blog.devtang.com/atom.xml</string>
		<key>feedType</key>
		<string>TechStudy</string>
		<key>isSub</key>
		<false/>
		<key>owner</key>
		<string>god</string>
	</dict>
</array>
</plist>
